[Unit]
Description=Envoy Backend
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/envoy_web -c /etc/envoy.toml
Restart=always
User=root
Environment=HOME=%h

[Install]
WantedBy=multi-user.target
